:root {
  --headerFont: 'Fredericka the Great', cursive;
  --bodyFont: 'Open Sans', sans-serif;
  --white: #ffffff;
  --ltGray1: #e2e2e2;
  --ltGray2: #d5d5d5;
  --medGray: #c5c5c5;
  --dkGray: #a5a5a5;
  --medGreen: #1fad34;
  --dkGreen: #031105;
  --ltBlue: #c7dbf3;
  --medBlue: #408ae1;
  --dkBlue: #00008b;
  --translucentBgDk: rgba(45, 50, 30, 0.35);
  --translucentBgDker: rgba(0, 0, 0, 0.5);
  --translucentBgLt: rgba(199, 219, 243, 0.25);
  --translucentBgLter: rgba(0, 0, 0, 0.2);
  --translucentBgGreen: rgba(3, 17, 5, 0.55);
}

.btn {
  background-color: var(--ltBlue);
  color: var(--dkGreen);
  border: 3px solid var(--dkGreen);
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 3px;
}

.btn:active,
.btn:focus {
  box-shadow: 0 0 10px var(--dkGreen);
}

.btn:active,
.btn:focus,
.btn:hover {
  color: var(--ltBlue);
  background-color: var(--dkGreen);
  border: 3px solid var(--ltBlue);
}

.btn:visited {
  background-color: var(--ltBlue);
  color: var(--dkGreen);
  border: 3px solid var(--dkGreen);
}

.mycontainer {
  background-color: var(--ltGray);
}