:root {
  --headerFont: "Fredericka the Great", cursive;
  --bodyFont: "Open Sans", sans-serif;
  --dkGreen: #031105;
  --ltBlue: #c7dbf3;
  --dkBlue: #00008b;
  --ltGray1: #e2e2e2;
  --dkGray: #a5a5a5;
  --translucentBgDk: rgba(45, 50, 30, 0.35);
  --translucentBgLt: rgba(199, 219, 243, 0.25);
}

body {
  background-image: url("../../pix/meeker-n-longs.jpg");
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h1,
h2,
h3 {
  font-family: var(--headerFont);
}

p {
  font-size: 16px;
}

li {
  font-size: 16px;
}

p,
li,
.caption {
  font-family: var(--bodyFont);
}

a {
  color: var(--dkBlue);
}

.btn {
  background-color: var(--ltBlue);
  color: var(--dkGreen);
  border: 3px solid var(--dkGreen);
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 3px;
}

.btn:hover {
  color: var(--ltBlue);
  background-color: var(--dkGreen);
  border: 3px solid var(--ltBlue);
}

.btn:visited {
  background-color: var(--ltBlue);
  color: var(--dkGreen);
  border: 3px solid var(--dkGreen);
}

.btn404 {
  margin-right: 0.25rem;
}

.card {
  margin: 1rem;
  border: 3px solid var(--dkGreen);
  border-radius: 18px;
  box-shadow: 10px 10px 10px 5px var(--dkGreen);
}

.cardTitle {
  color: var(--ltGray1);
  background-color: var(--dkGreen);
  text-align: center;
  border-radius: 15px 15px 0 0 !important;
}

.cardBody {
  color: var(--dkGreen);
  background-color: var(--ltBlue);
  border-radius: 0 0 15px 15px;
}

.centered,
.landerHead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypic,
.choralepic {
  max-width: 300px;
  padding-right: 1.25em;
}

.choralepic {
  border-radius: 10%;
}

.mypic {
  border-radius: 50%;
}

.error {
  color: var(--gcWhite);
  background-color: var(--red);
}

.formHeader {
  text-align: center;
}

.darkBg {
  background: var(--translucentBgDk);
  border-radius: 5px;
}

.darkBgSq {
  background: var(--translucentBgDk);
  border-radius: 2px;
}

.ltBg {
  background: var(--translucentBgLt);
  border-radius: 5px;
}

.ltBgSq {
  background: var(--translucentBgLt);
  border-radius: 2px;
}

.flexStart,
.flexCenter,
.flexEnd {
  display: flex;
  align-items: center;
}

.flexStart {
  justify-content: flex-start;
}

.flexCenter {
  justify-content: center;
  flex-wrap: wrap;
}

.flexEnd {
  justify-content: flex-end;
  height: 2.5em;
}

.formBtn {
  width: 100%;
  height: 3rem;
}

.formInput,
.richTextEditor {
  color: var(--dkGreen);
  background-color: var(--ltGray2);
  margin-bottom: 0.75rem;
}

.formInput:focus {
  background-color: var(--ltGray1);
  outline: none;
  border-color: var(--dkGreen);
  box-shadow: 0 0 10px var(--dkGreen);
}

.formBtn,
.loginBtn {
  color: var(--dkGreen);
  background-color: var(--ltBlue);
  border: 1px solid var(--dkGreen);
}
.formBtn:disabled,
.loginBtn:disabled {
  color: var(--ltGray1);
  background-color: var(--dkGray);
  border: 1px solid var(--ltGray1);
}
.formBtn:focus,
.loginBtn:focus {
  background-color: var(--dkGreen);
  border: 1px solid var(--ltBlue);
  cursor: pointer;
  border-color: var(--ltBlue);
  box-shadow: none;
}
.loginBtn:active {
  background-color: var(--dkGreen);
  border: 1px solid var(--ltBlue);
  cursor: pointer;
  border-color: var(--ltBlue);
  box-shadow: none;
}
.loginBtn:hover {
  background-color: var(--dkGreen);
  border: 1px solid var(--ltBlue);
  cursor: pointer;
}

.landerHead {
  margin: 1em 0;
}

.login {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginDiv {
  margin-top: 5px;
}

.loginLabel {
  color: var(--dkGreen);
}

.topMargin {
  margin-top: 2.5em;
}

.caption {
  font-size: 12px;
}

.outline {
  text-shadow: -1px 1px 1px var(--ltBlue), 1px 1px 1px var(--ltBlue),
    1px -1px 1px var(--ltBlue), -1px -1px 1px var(--ltBlue);
}

.pagination {
  display: flex;
  justify-content: center;
  background-color: var(--dkGreen);
  border: 2px solid var(--ltBlue);
  border-radius: 7px;
  box-shadow: 10px 10px 10px 5px var(--dkGreen);
}

.pagination > ul {
  list-style: none;
  padding: 0;
  margin-bottom: .25rem;
}

.pagination > ul > li {
  color: var(--ltBlue);
  display: inline;
  margin: .5rem;
  text-decoration: underline;
}

.pagination > ul > li > a {
  color: var(--ltBlue);
}

.pagination > ul > .selected {
  color: var(--medBlue);
}

.tags {
  font-size: 0.66rem;
}

.tag-cloud {
  background-color: rgba(199, 219, 243, 0.5);
  
}

.tag-cloud-tag {
  cursor: pointer;
}

.transpBground {
  background-color: rgba(199, 219, 243, 0.5);
  min-height: 100vh;
}
